In [10]:
s = x['a']
s

0    0.632818
1    0.783992
2    0.801683
3    0.862635
4    0.352965
5    0.368450
6    0.484896
7    0.271536
8    0.826415
9    0.067546
Name: a, dtype: float64

In [3]:
#improting the required libraries

import numpy as np
import pandas as pd

In [86]:
# '::' + n , outputs every data row after n rows ,
#if given negative value , then outputs form the bottom
s[::-1]

9    0.067546
8    0.826415
7    0.271536
6    0.484896
5    0.368450
4    0.352965
3    0.862635
2    0.801683
1    0.783992
0    0.632818
Name: a, dtype: float64

In [25]:
#copy() used to make a replica of the dataframe
s2 = s.copy()

In [26]:
s2

0    0.632818
1    0.783992
2    0.801683
3    0.862635
4    0.352965
5    0.368450
6    0.484896
7    0.271536
8    0.826415
9    0.067546
Name: a, dtype: float64

In [30]:
# takes all the elments from 5th index to the last
s2[5:] = 0
s2

0    0.632818
1    0.783992
2    0.801683
3    0.862635
4    0.352965
5    0.000000
6    0.000000
7    0.000000
8    0.000000
9    0.000000
Name: a, dtype: float64

In [37]:
#always axis should be specified , inplcae saves the changes
x.drop('new col',1,inplace=True)

In [45]:
x[::2]

          a         b         c         d
0  0.632818  0.302220  0.906803  0.087653
2  0.801683  0.883142  0.178337  0.497186
4  0.352965  0.972169  0.761954  0.887590
6  0.484896  0.897375  0.727459  0.773702
8  0.826415  0.286308  0.047329  0.911235

In [49]:
newdf = pd.DataFrame(np.random.randn(5,4),
                    columns=list('ABCD'),
                    index = pd.date_range('8.7.2021',
                                         periods=5))

In [50]:
newdf

                   A         B         C         D
2021-08-07 -0.535166 -1.217150  0.251048  1.076512
2021-08-08  0.497702 -0.681961  1.425939 -1.861855
2021-08-09 -0.364965  1.128802 -0.397087  0.610614
2021-08-10  1.028025 -1.114983 -0.020248 -0.097965
2021-08-11  1.235322  0.842346 -0.223729  0.166298

In [60]:
#loc takes in the index label
newdf.loc['2021-08-09':]

                   A         B         C         D
2021-08-09 -0.364965  1.128802 -0.397087  0.610614
2021-08-10  1.028025 -1.114983 -0.020248 -0.097965
2021-08-11  1.235322  0.842346 -0.223729  0.166298

In [87]:
df = pd.DataFrame(np.random.random(size=(5,3)),
                 index=list('aedcb'),
                 columns=list('ABC'))

df

          A         B         C
a  0.139799  0.356023  0.501411
e  0.634883  0.517517  0.720991
d  0.244219  0.802405  0.523558
c  0.012349  0.022708  0.767168
b  0.759819  0.955494  0.416073

In [91]:
# iloc takes in the position of the index
df.iloc[1:] > 0.37

       A      B     C
e   True   True  True
d  False   True  True
c  False  False  True
b   True   True  True

In [89]:
#sortign index
df.sort_index()

          A         B         C
a  0.139799  0.356023  0.501411
b  0.759819  0.955494  0.416073
c  0.012349  0.022708  0.767168
d  0.244219  0.802405  0.523558
e  0.634883  0.517517  0.720991

In [93]:
#iloc returns rows with the specified index 
df['A'].iloc[:3]

a    0.139799
e    0.634883
d    0.244219
Name: A, dtype: float64

#### iloc does not work with index label name ,iloc needs the integer label index

In [104]:
newdf = pd.DataFrame(np.random.randn(6,3),
                    index=(range(0,18,3)),
                    columns=(range(0,9,3)))

newdf

           0         3         6
0   1.098318 -0.448184 -0.663749
3   0.244062  0.910013 -0.968797
6  -0.308463  1.265238 -1.031648
9   0.949920 -0.257420  0.910258
12 -1.407154 -2.301370 -0.472652
15 -0.948088  0.612432  0.276575

### Selection by callable and applying functions

In [105]:
newdf = pd.DataFrame(np.random.randn(6,5),
                    index = list('abcdef'),
                    columns=list('ABCDE'))

newdf

          A         B         C         D         E
a -1.351673 -0.148308 -1.921460 -1.040918 -0.420959
b  0.016245  0.065483  0.212356  0.407832 -0.488122
c  0.186666  0.161940  1.208882  0.411446  1.146572
d -0.607138 -2.159518  1.357028 -1.044817  0.656279
e  0.117139  1.183281  0.887934  0.180073 -0.525702
f -1.471124 -0.969955 -0.025854 -0.404832 -1.374176

In [114]:
# lambda is a function which can be assingend easily, can evene use .apply method
newdf.loc[:,lambda df: ['A','B']]

          A         B
a -1.351673 -0.148308
b  0.016245  0.065483
c  0.186666  0.161940
d -0.607138 -2.159518
e  0.117139  1.183281
f -1.471124 -0.969955

In [119]:
newdf['A'].loc[lambda x:x > 0]

b    0.016245
c    0.186666
e    0.117139
Name: A, dtype: float64

In [124]:
dfd = pd.DataFrame({'A': [1,2,3,4],
                   'B': [6,7,8,9]},
                  index=list('abcd'))

dfd

   A  B
a  1  6
b  2  7
c  3  8
d  4  9

In [132]:
#dfd.index can be also used if df.index is specified
dfd.loc[dfd.index[[0,2]],'A']

a    1
c    3
Name: A, dtype: int64

In [4]:
s = pd.Series([5,6,7,8])
s

0    5
1    6
2    7
3    8
dtype: int64

In [6]:
#to get random datapoints from the dataset
s.sample(2)

0    5
2    7
dtype: int64

In [7]:
# weights will play role in the selection process in smaple func
weights = [0,0.2,0.9,0.5]

s.sample(2,weights=weights)

2    7
3    8
dtype: int64

In [13]:
s.at[3]

8

In [9]:
s

0    5
1    6
2    7
3    8
dtype: int64

### Using boolean for indexing

In [15]:
news = pd.Series(range(-2,4))
news

0   -2
1   -1
2    0
3    1
4    2
5    3
dtype: int64

In [18]:
# Using gretaer than operators for slicing
# or , equal to , greater than , smaller than operators can be used for slicing
news[news>0]

3    1
4    2
5    3
dtype: int64

In [19]:
# "|" signifies or operator
news[(news % 2 ==0)|(news > 1)]

0   -2
2    0
4    2
5    3
dtype: int64